body {

    text-align: center;
    background-color: white;
    margin: 400px;
    font-weight: 100px;
    
}

img {

width: 200px;
height: 200px;

}
 main {

background-color: hsl(243, 71%, 5%);
width: auto;
color: hsl(349, 26%, 83%);
padding: 5px 5px 5px 5px;
border: 5px solid hsl(189, 89%, 25%);
text-align: left;
border-radius: 10px;
box-shadow: 5px 5px 5px 5px  hsl(243, 71%, 5%);


 }

 a {
text-decoration: none;
color: hsl(189, 89%, 25%);


 }