body {

    text-align: center;
    background-color:  hsl(189, 89%, 25%);;
}



ol {
    width: 500px;
    margin: 36px auto 0 auto;
}







li {
background-color: #404a4b;
width: 400px;
margin: auto;
list-style: none;
border: 5px solid rgb(226, 213, 213);
padding: 5px;
border-radius: 50px;
margin-bottom: 20px;
box-shadow: 10px 10px 10px rgb(15, 15, 15);


}

a {

text-decoration: none;
color: hsla(108, 76%, 69%, 0.965);

}

a:hover {


text-decoration: underline;

}











